@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* creer variables */

:root {
    --color-primary: #0E46A8;
    --color-primary-dark: rgb(13, 64, 154);
}

html, 
body {
    min-height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f9fafd;
}

a {
    text-decoration: none;
    color: inherit;
}